<div class="coin-slot">
  <img class="penny" src="/assets/penny.png" alt="penny">
  <img class="nickel" src="/assets/nickel.png" alt="nickel">
  <img class="dime" src="/assets/dime.png" alt="dime">
  <img class="quarter" src="/assets/quarter.png" alt="quarter">
</div>