<div class="coin-slot">
  <button class="penny" {{action "submit" "penny"}}>
    <img src="/assets/penny.png" alt="penny">
  </button>
  <button class="nickel" {{action "submit" "nickel"}}>
    <img src="/assets/nickel.png" alt="nickel">
  </button>
  <button class="dime" {{action "submit" "dime"}}>
    <img src="/assets/dime.png" alt="dime">
  </button>
  <button class="quarter" {{action "submit" "quarter"}}>
    <img src="/assets/quarter.png" alt="quarter">
  </button>
</div>