html {
  box-sizing: border-box;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  background-color: black;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.vending-machine-body {
  display: grid;
  grid-template-columns: 350px auto;
  grid-template-rows: 50px auto 25px;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;

  > * {
    padding: 0px 5px 0px 5px;
  }

  header {
    grid-area: header;
    background-color: #212529;
  }
  
  aside {
    grid-area: aside;
    overflow-y: auto;
    background-color: #141414;
  }
  
  main {
    grid-area: main;
    overflow-y: auto;
    background-color: black;
  }
  
  footer {
    grid-area: footer;
    background-color: #212529;
  }

  h1, h2, h3 {
    color: #3273C5;
  }
  
  .secondary-header {
    color: #E15021;
  }
  
  .soda-brand-selected {
    background-color: #3273C5;
  }
}