.coin-slot {
  button {
    background-color: #212529;
    height: 50px;
    width: 70px;
    float: right;
  }
  img {
    margin: 0 5px 0 5px;
    height: 40px;
    width: 40px;
    cursor: pointer;
  }
}