<div class="vending-machine-body">
  <header>
    <Header></Header>
  </header>
  <aside>
    <SodaBrandSelector></SodaBrandSelector>
    <SodaListing></SodaListing>
  </aside>
  <main>
    <SodaDetail>
      {{outlet}}
    </SodaDetail>
  </main>
  <footer>
    <Footer></Footer>
  </footer>
</div>
